*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: none;
}
.nav_mob{
    display: flex;
    flex-direction: column;
    color: #21243D;
    margin-top: 20px;
    margin-right: 18px;
    height: 50px;
}
.mob_menu{
    color: #21243D;
    text-align: end;
}
@media only screen and (min-width: 600px){
    .navbar{
        display: flex;
        font-family: 'Heebo', sans-serif;
        align-items: flex-start;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        text-align: right;
        float: right;
    }
    .menu{
        padding:20px;
    } 
    .mob_menu{
        display: none;
    } 
}
.intro{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
}
.introduction{
    justify-content: center;
    align-items: center;
}
.intro_head{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    align-items: center;
    /*margin-left: 31px;
    margin-right: 31px;*/
    margin-top: 34px;
    justify-content: center;
    text-align: center;
}
.intro_content{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 23.5px;
    margin-top: 21px;
    margin-right: 23px;
    /*margin-left:24px;*/
    text-align: center;
}
.btn{
    background-color: #FF6464;
    color: white;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 21px;
    padding-bottom: 14px;
    margin-top: 27px;
    margin-left: 120px;
    /*margin: auto;*/
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    border: none;

}
@media only screen and (min-width: 600px){
    .intro{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        /*margin-left: 148px;
        margin-right: 149px;*/
        /*margin-top: 140px;*/
    }
    .introduction{
        /*margin-right: 106px;*/
    }
    .intro_img{
        width: 243px;
        height: 243px;
    }
    .intro_head{
        font-size: 48px;
        line-height: 60px;
        width: 506px;
        /*height: 105px;*/
        text-align: left;
    }
    .intro_content{
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        margin-top: 40px;
        width: 497px;
    }
    .btn{
        text-align: left;
        margin-top: 38px;
        margin-left: 0px;
        border: none;
        justify-content: center;
    }
}
.posts{
    padding-bottom: 22px;
    justify-content: center;
    align-items: center;
}
.recent_posts{
    margin-top: 59px;
    background-color: #EDF7FA;
    margin-bottom: 38px;
    justify-content: center;
    align-items: center;
}
.recent_heading{
    display: flex;
}
.view{
    display: none;
}
.post{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #21243D;
    /*margin-left: 135px;
    margin-right: 135px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}
.post_one{
    background-color: white;
    margin-left: 11px;
    margin-right: 10px;
    margin-bottom: 38px;
}
.one_heading{
    color:#21243D;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    width: 327px;
    height: 60px;
    margin-left: 19px;
    padding-top: 12px;
}
.date_info{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}
.date{
    font-family: 'Heebo', sans-serif;
    font-weight: 400; 
    font-size: 16px;
    margin-left: 19px;
    margin-right: 24px;
}
.quality{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 24px;
}
.post_content{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 314px;
    height: 117px;
    margin-left: 19px;
    margin-right: 21px;
    margin-top: 19px;
    padding-bottom: 22px;
}
@media only screen and (min-width: 600px){
    .recent_posts{
        justify-content: center;
        align-items: center;
    }
    .recent_heading{
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .view{
      display: inline;
    }
    .post{
        font-size: 22px;
        margin-left: 148px;
    }
    .posts{
        display: flex;
        flex-direction: row;
    }
    .desktop{
        margin-left: 148px;
        margin-right: 20px;
        margin-top: 20px;
        width: 418px;
        height: 295px;
    }
    .desktop_two{
        width: 418px;
        height: 295px;
        margin-top: 20px;
        margin-right: 148px;
    }
    .view{
        font-family: 'Heebo', sans-serif;
        font-weight: 400;
        font-size: 16px;
        padding-top: 27px;
        color: #00A8CC;
        margin-right: 148px;
    }
}
.footer{
    text-align: center;
    margin-top: 52px;
    margin-bottom: 52px;
}
.icons{
    margin-right: 35px;
}
.copyright{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.56px;
    margin-top: 26px;
    text-align: center;
    margin-left: -10px;
}
.featured_work{
    text-align: center;
    margin-bottom: 83px;
}
.featured_text{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
}
.work_img{
    text-align: left;
    /*margin-bottom: 32px;*/
    margin-top: 30px;
}
/*.works{
    margin-left: 2rem;
}*/
.work_heading{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-top: 17px;
    text-align: left;
}
.work_content{
    margin-left: 1rem;
}
.info{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.year{
    background-color: #142850;
    color: white;
    border-radius: 16px;
    width: 62px;
    height: 25px;
    text-align: center;
    padding: 5px;
    /*margin:auto;*/
}
.type{
    color: #8695A4;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 22px;
}
.work_para{
    color: #21243D;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    padding-bottom: 20px;
}
@media only screen and (min-width: 600px){
    .works{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .work_img{
        margin-right: 2rem;
        margin-bottom: 32px;
    }
    .work_content{
        width: 593px;
        /*height: 93px;*/
    }
    .year{
        margin-top: 3px;
    }
    .work_para{
        margin-top: 5px;
    }
}
